.1_515 { 
	overflow:hidden;
}
.e1_515 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.e107_1021 { 
	width:826px;
	height:423px;
	position:absolute;
	left:8px;
	top:202px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}
.e146_906 { 
	width:826px;
	height:424px;
	position:absolute;
	left:888px;
	top:191px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}
.e107_1037 { 
	width:826px;
	height:332px;
	position:absolute;
	left:8px;
	top:632px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}
.e146_924 { 
	width:826px;
	height:332px;
	position:absolute;
	left:892px;
	top:635px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}
.e143_901 { 
	color:rgba(0, 0, 0, 1);
	width:850px;
	height:23px;
	position:absolute;
	left:888px;
	top:955px;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e93_553 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:25px;
	position:absolute;
	left:345px;
	top:209px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e93_554 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:26px;
	position:absolute;
	left:1260px;
	top:632px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e93_555 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:50px;
	position:absolute;
	left:1220px;
	top:209px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e93_556 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:50px;
	position:absolute;
	left:314px;
	top:642px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e93_557 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:20px;
	position:absolute;
	left:359px;
	top:245px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_559 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:20px;
	position:absolute;
	left:1211px;
	top:664px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_560 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:41px;
	position:absolute;
	left:300px;
	top:711px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_561 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:1270px;
	top:259px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_562 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:42px;
	position:absolute;
	left:337px;
	top:337px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_563 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:21px;
	position:absolute;
	left:1236px;
	top:347px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_564 { 
	color:rgba(0, 0, 0, 1);
	width:269px;
	height:40px;
	position:absolute;
	left:267px;
	top:792px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_565 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:20px;
	position:absolute;
	left:319px;
	top:430px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_566 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:24px;
	position:absolute;
	left:315px;
	top:516px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_567 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:21px;
	position:absolute;
	left:1242px;
	top:444px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_568 { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:42px;
	position:absolute;
	left:1242px;
	top:743px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_569 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:41px;
	position:absolute;
	left:320px;
	top:884px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_570 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:20px;
	position:absolute;
	left:1234px;
	top:526px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e93_571 { 
	color:rgba(0, 0, 0, 1);
	width:130px;
	height:41px;
	position:absolute;
	left:1237px;
	top:863px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e107_908 { 
	color:rgba(0, 0, 0, 1);
	width:789px;
	height:56px;
	position:absolute;
	left:19px;
	top:276px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_905 { 
	color:rgba(0, 0, 0, 1);
	width:699px;
	height:34px;
	position:absolute;
	left:952px;
	top:910px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1485 { 
	color:rgba(0, 0, 0, 1);
	width:810px;
	height:58px;
	position:absolute;
	left:8px;
	top:377px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1486 { 
	color:rgba(0, 0, 0, 1);
	width:832px;
	height:25px;
	position:absolute;
	left:-3px;
	top:477px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1487 { 
	color:rgba(0, 0, 0, 1);
	width:810px;
	height:53px;
	position:absolute;
	left:8px;
	top:560px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1488 { 
	color:rgba(0, 0, 0, 1);
	width:701px;
	height:10px;
	position:absolute;
	left:62px;
	top:696px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1489 { 
	color:rgba(0, 0, 0, 1);
	width:692px;
	height:20px;
	position:absolute;
	left:71px;
	top:764px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1490 { 
	color:rgba(0, 0, 0, 1);
	width:749px;
	height:23px;
	position:absolute;
	left:38px;
	top:940px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1491 { 
	color:rgba(0, 0, 0, 1);
	width:776px;
	height:20px;
	position:absolute;
	left:25px;
	top:852px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1492 { 
	color:rgba(0, 0, 0, 1);
	width:693px;
	height:20px;
	position:absolute;
	left:954px;
	top:311px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1493 { 
	color:rgba(0, 0, 0, 1);
	width:750px;
	height:30px;
	position:absolute;
	left:931px;
	top:391px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1494 { 
	color:rgba(0, 0, 0, 1);
	width:792px;
	height:65px;
	position:absolute;
	left:919px;
	top:467px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1495 { 
	color:rgba(0, 0, 0, 1);
	width:760px;
	height:46px;
	position:absolute;
	left:935px;
	top:571px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1496 { 
	color:rgba(0, 0, 0, 1);
	width:810px;
	height:40px;
	position:absolute;
	left:901px;
	top:701px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1497 { 
	color:rgba(0, 0, 0, 1);
	width:835px;
	height:60px;
	position:absolute;
	left:882px;
	top:802px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}
.e146_1563 { 
	width:1728px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
}
.e147_1554 { 
	width:1728px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei147_1554_64_393 { 
	background-color:rgba(107.00000122189522, 26.000000350177288, 29.000000171363354, 1);
	width:1728px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei147_1554_64_394 { 
	color:rgba(255, 255, 255, 1);
	width:177px;
	height:25px;
	position:absolute;
	left:807px;
	top:59px;
	font-family:Century Gothic;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei147_1554_64_395 { 
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:25px;
	position:absolute;
	left:430px;
	top:56px;
	font-family:Century Gothic;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei147_1554_64_396 { 
	color:rgba(255, 255, 255, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:625px;
	top:56px;
	font-family:Century Gothic;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei147_1554_64_397 { 
	color:rgba(255, 255, 255, 1);
	width:179px;
	height:25px;
	position:absolute;
	left:1053px;
	top:59px;
	font-family:Century Gothic;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei147_1554_64_398 { 
	width:189px;
	height:129px;
	position:absolute;
	left:14.5px;
	top:2px;
}
.ei147_1554_64_399 { 
	width:189px;
	height:129px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei147_1554_64_400 { 
	width:189px;
	height:129px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei147_1554_64_400_11_4 { 
	box-shadow:0px 0px 4px rgba(169.00000512599945, 64.00000378489494, 71.00000336766243, 1);
	width:189px;
	height:129px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/logotempigs.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei147_1554_64_401 { 
	width:59px;
	height:60px;
	position:absolute;
	left:4.5px;
	top:36px;
}
.ei147_1554_64_401_15_12 { 
	width:59px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/logos_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei147_1554_64_402 { 
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:25px;
	position:absolute;
	left:255px;
	top:56px;
	font-family:Century Gothic;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei147_1554_64_403 { 
	width:66px;
	height:66px;
	position:absolute;
	left:1594px;
	top:36px;
}
.ei147_1554_64_403_23_13 { 
	width:66px;
	height:66px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/user_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei147_1554_64_404 { 
	width:60px;
	height:55px;
	position:absolute;
	left:1496px;
	top:44px;
}
.ei147_1554_64_404_23_11 { 
	width:60px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/carrito_black_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei147_1554_64_405 { 
	color:rgba(255, 255, 255, 1);
	width:126px;
	height:25px;
	position:absolute;
	left:1302px;
	top:59px;
	font-family:Century Gothic;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e93_573 { 
	color:rgba(0, 0, 0, 1);
	width:296px;
	height:45px;
	position:absolute;
	left:716px;
	top:146px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
